@import url('https://fonts.cdnfonts.com/css/earth-orbiter');
body {
    margin:auto;
    width: auto;
    backdrop-filter: blur(10px);
    background: linear-gradient(-45deg, #23a6d5,#23a6d5, #a700df, #23d5ab,#23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease-in-out infinite;
	height: auto;
    background-attachment: fixed;
}
h1 {
    font-family: 'Earth Orbiter Extra-Bold', sans-serif;
    margin-top: 30px;
    text-align: center;
    font-size: 5rem;
}
input::placeholder {
    
    text-align: center;
    color: black;
    font-weight: bold;
}
#inputError{
    padding: 4px;
    margin-top: 10px;
    color: red;
}
form {
    margin: auto;
    border: 1px solid black;
    padding: 20px;
    border-width: 5px;;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
fieldset {
    font-weight: 500;
    font-family: 'Earth Orbiter Extra-Bold', sans-serif;
    font-size: x-large;
    border:none;
}
label {
    font-family: 'Earth Orbiter Extra-Bold', sans-serif;
    padding: 5px;
}
label, input {
    display: block;
}
input {
    width:150px;
    margin: auto;
}
#table {
    margin:auto;
    width:fit-content;
    margin-left: auto;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 500px;
    max-width: 1000px;
}
#Submit {
    margin:auto;
    margin-top: 15px;
    margin-bottom: -15px;
}
table tr, th {
    border: 1px solid black;
}
tr {
    background: #10a9e2;
}
tr, th {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
tr::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
th::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
tr:nth-child(1) {
    
    background: #042c84;
    border: none;
    overflow: scroll;
    top: 0;
    position: sticky;
    color: white;
}
th:nth-child(1) {
    background: #042c84;
    border: none;
    left: 0;
    overflow: scroll;
    position: sticky;
    color: white;
}
th:hover {
    background-color: #0086df;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
